<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <script type="text/javascript">
    $(function () {
        var data4vue={
            uri:"forelogin",
            user:{name:'',password:''},
            result:[]
        };
        var vue=new Vue({
            el:"#workingArea",
            data:data4vue,
            mounted:function () {
                linkDefaultActions();
            },
            methods:{
                login:function () {
                    var url =  this.uri;
                    if(0==this.user.name.length){
                        $("span.errorMessage").html("请输入用户名");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(0==this.user.password.length){
                        $("span.errorMessage").html("请输入密码");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    axios.post(url,vue.user).then(function (response) {
                        var result=response.data;
                        if(result.code==0){
                            location.href="home";
                        }else{
                            $("span.errorMessage").html(result.message);
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                        }
                    })

                }
            }
        })
        var left = window.innerWidth/2+162;
        $("div.loginSmallDiv").css("left",left);
    })
    </script>
<div id="loginDiv" style="position: relative">
    <div class="simpleLogo">
        <a th:href="${application.contextPath}"><img src="static/img/site/simpleLogo.png"></a>
    </div>
    <img id="loginBackgroundImg" class="loginBackgroundImg" src="static/img/site/loginBackground.png">

    <div class="loginSmallDiv" id="loginSmallDiv">
        <!--错误信息-->
        <div class="loginErrorMessageDiv">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <span class="errorMessage"></span>
            </div>
        </div>

        <div class="login_acount_text">账户登录</div>
        <!--账号-->
        <div class="loginInput">
            <span class="loginInputIcon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" v-model="user.name" placeholder="手机/会员名/邮箱">
        </div>
        <!--密码-->
        <div class="loginInput">
            <span class="loginInputIcon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" v-model="user.password" placeholder="密码">
        </div>

        <!--忘记密码 和注册-->
        <div>
            <a class="notImplementLink" href="#nowhere">忘记登录密码</a>
            <a href="register" class="pull-right">免费注册</a>
        </div>

        <!--提交-->
        <div style="margin-top: 20px;">
            <button class="btn btn-block redButton" type="button" v-on:click="login">登录</button>
        </div>
    </div>
</div>
</div>