<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="include/admin/adminHeader::html('产品属性管理')">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div th:replace="include/admin/adminNavigator::html"></div>
<script type="text/javascript">
$(function () {
    var pid=getUrlParms("pid"); //从地址栏拿产品id
    console.log(pid);
    var data4Vue={
        uri:'propertyValues',
        beans:[],
        category:'',
        product:''

    };
    var vue=new Vue({
        el:"#workingArea",
        data:data4Vue,
        mounted:function () {
        this.getProduct(pid);
        this.list();
        },
        methods:{
            //查询该产品所有属性值（属性值表里包括了属性）
            list:function () {
                var url=this.uri+"/"+pid;
                axios.get(url).then(function (response) {
                    vue.beans=response.data;
                    console.log(vue.beans);
                })
            },
            //获取产品，再从产品里拿到分类，从而拿到分类id 跟name
            getProduct:function (pid) {
                var url="products?id="+pid;
                axios.get(url).then(function (response) {
                    vue.product=response.data;
                    console.log(vue.product);
                   vue.$options.methods.getCategory();
                })
            },
            //根据产品id 获取该产品所属的分类
            getCategory:function () {
                var url="categories/"+vue.product.cid;
                axios.get(url).then(function (response) {
                    vue.category=response.data;
                })  
            },
            update:function (propertyValue) {
                var url=this.uri;
                var id=propertyValue.id;
                $("#pvid"+propertyValue.id).css("border","2px solid yellow");
                axios.put(url,propertyValue).then(function (response) {
                    if(propertyValue.id==response.data.id)
                        $("#pvid"+propertyValue.id).css("border","2px solid green");
                    else
                        $("#pvid"+propertyValue.id).css("border","2px solid red");
                })
            }
        }
    })
})
</script>
<div id="workingArea">
<ol class="breadcrumb">
    <li><a href="listCategory">所有分类</a></li>
    <!--凡是要传参数的链接 都要用vue的绑定 v-bind 如v-bind:href的简写就是:href-->
    <li><a :href="'listProduct?cid=' + category.id ">{{category.name}}</a></li>
    <li class="active">{{product.name}}</li>
    <li class="active">产品属性管理</li>
</ol>
    <div class="editPVDiv">
        <div v-for="bean in beans" class="eachPV">
            <span class="pvName" >{{bean.property.name}}</span>
            <span class="pvValue"><input class="pvValue" :id="'pvid'+bean.id" type="text" v-model.trim="bean.value" @keyup="update(bean)"></span>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>